.grid-item {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  
  }
  .grid-item:hover{
    background-color: rgba(133, 134, 134, 0.288);
    
  }
  .grid-item img {
    block-size: 10px;
    max-width: 100%;
    height: auto;
  }