nav {
  
  cursor: pointer;
  display: flex;
  justify-content:space-between; 
  align-items: center;
  background:#26323881; 
  font-family: Verdana, sans-serif;
}

nav ul {
  margin-left: auto;
  padding: 20px;
  display: flex;
  list-style: none; 
}

nav li {
  padding-left: 1rem; 
}

nav a {
  text-decoration: none;
  color: #0d47a1
}

@media only screen and (max-width: 600px) {
  nav {
    flex-direction: column;
  }
  nav ul {
    flex-direction: column;
    padding-top: 0.5rem;
  }
  nav li {
    padding: 0.5rem 0;
  }
} 

.navUl{
  margin:0;
  padding:0;
  display:flex;
  background-color:#07b18181;
  border: 2px solid rgb(64, 63, 63);
}

.navUl li{
  flex: 1;
  list-style:none;
  padding: 0.5rem 0;
  margin-top: 25px;
  transition:0.5s;
}

.navUl li a{
  display: block;
  position:relative;
  text-decoration:none;
  padding:5px;
  font-size:24px;
  font-family: sans-serif;
  color:#000000;
  text-transform:uppercase;
  transition:0.5s;
}

.navUl:hover li a{
  transform:scale(1.5);
  opacity:0.2;
  filter:blur(5px);
}

.navUl li a:hover{
  transform:scale(1);
  opacity:1;
  filter:blur(0);
  text-decoration:none;
  color:#fff;
}

.navUl li a:before{
  content:'';
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#ffaa49;
  transition:0.5s;
  transform-origin:right;
  transform:scaleX(0);
  z-index:-1;
}

.navUl li a:hover:before{
  transition:transform 0.5s;
  transform-origin:left;
  transform:scaleX(1);
}

